body {
    background-color: #1d1e2c;
    color: white;
    text-align: center;
}

header {
    background-color: #4db8ff;
    padding: 10px;
    color: white;
}

a {
    color: #4db8ff;
    text-decoration: none;
}

a:hover {
    color: #3399ff;
}
