body {
    background-color: #1d1e2c;
    color: white;
    text-align: center;
}

header {
    background-color: #4db8ff;
    padding: 10px;
    color: white;
}

button {
    background-color: #4db8ff;
    color: white;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #3399ff;
}
